<div class="sidebar">
    <img (click)="ndp()" class="dashboard_sidebar_icon" src="../assets/images/Vector.png" alt="dashboard_icon_img">
    <img (click)="ndp()" class="dashboard_sidebar_icon2" src="../assets/images/vector2.png" alt="dashboard_icon2_img">
    <ul>
        <li (click)="ndp()" class="dashboard_text">Dashboard</li>
        <li (click)="toggleData1()" class="text"><img class="pages_icon" src="../assets/images/pages.png" alt="pages_img"><div class="pages-and-sales-div">Pages</div><div *ngIf="!toDisplay1" class="angle-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay1" class="angle-up"><i class="fa fa-angle-up" aria-hidden="true"></i></div></li>
        <li (click)="ndp()" *ngIf="toDisplay1" class="text">Dashboard</li>
        <li (click)="fdp()" *ngIf="toDisplay1" class="text">Followers Details<div *ngIf="!toDisplay_fdo" class="fd-angle-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay_fdo" class="fd-angle-up"><i class="fa fa-angle-up" aria-hidden="true"></i></div></li>
        <li (click)="bcity()" *ngIf="toDisplay_fdo" class="text">By City</li>
        <li (click)="bcountry()" *ngIf="toDisplay_fdo" class="text">By Country</li>
        <li (click)="bga()" *ngIf="toDisplay_fdo" class="text">By Gender and Age</li>
        <li (click)="idp()" *ngIf="toDisplay1" class="text">Impressions</li>
        <li (click)="rdp()" *ngIf="toDisplay1" class="text">Reach</li>
        <li (click)="npdp()" *ngIf="toDisplay1" class="text">New posts</li>
        <li (click)="wdp()" *ngIf="toDisplay1" class="text">Webiste Clicks</li>
        <li (click)="pcdp()" *ngIf="toDisplay1" class="text">Profile Clicks</li>
        <li (click)="toggleData()" class="text"><img class="sales_icon" src="../assets/images/sales.png" alt="sales_img"><div class="pages-and-sales-div">Suscription</div><div *ngIf="!toDisplay" class="angle-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay" class="angle-up"><i class="fa fa-angle-up" aria-hidden="true"></i></div></li>
        <li *ngIf="toDisplay" class="text">Upgarde</li>
        <li *ngIf="toDisplay" (click)="cancel_sub()" class="text">Cancel</li>
        <li class="text"><img class="inbox_icon" src="../assets/images/inbox-in.png" alt="inbox_img"><div class="mess-div">Results captured</div></li>
        <li class="text"><img class="lock_icon" src="../assets/images/lock.png" alt="lock_img"><div class="auth-div">Privacy Policy</div></li>
        <hr />
        <li class="text"><img class="docs_icon" src="../assets/images/clipboard-list.png" alt="docs_img"><div class="docs-div">Terms and Conditions</div></li>
        <li class="text"><img class="components_icon" src="../assets/images/collection.png" alt="components_img"><div class="comp-div">Contact Us</div></li>
        <li (click)="toggleData3()" class="text"><img class="support_icon" src="../assets/images/support.png" alt="support_img"><div class="help-div">Settings</div><div *ngIf="!toDisplay3" class="angle-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay3" class="angle-up"><i class="fa fa-angle-up" aria-hidden="true"></i></div></li>
        <li *ngIf="toDisplay3" class="text">Update Profile</li>
        <li *ngIf="toDisplay3" class="text">Change card</li>
        <li (click)="switch_account()" class="text"><img class="support_icon" src="../assets/images/support.png" alt="support_img"><div class="help-div">Switch Ig Account</div><div *ngIf="!toDisplay4" class="angle-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay4" class="angle-up"><i class="fa fa-angle-up" aria-hidden="true"></i></div></li>
        <li *ngIf="toDisplay4" class="text"><span (click)="sa_1()">{{switch_account_1}}</span><i (click)="ea_1()" class='fa fa-edit'></i></li>
        <li *ngIf="toDisplay4" class="text"><span (click)="sa_2()">{{switch_account_2}}</span><i (click)="ea_2()" class='fa fa-edit'></i></li>
        <li *ngIf="toDisplay4" class="text"><span (click)="sa_3()">{{switch_account_3}}</span><i (click)="ea_3()" class='fa fa-edit'></i></li>
        <li *ngIf="toDisplay4" class="text"><span (click)="sa_4()">{{switch_account_4}}</span><i (click)="ea_4()" class='fa fa-edit'></i></li>
        <li *ngIf="toDisplay4" class="text"><span (click)="sa_5()">{{switch_account_5}}</span><i (click)="ea_5()" class='fa fa-edit'></i></li>
    </ul>
    </div>
<!-- The Modal -->
<div *ngIf="toDisplaymodal" id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="form_box">
        <h2 class="heading1">Change Name</h2>
        <form class="signin_form" #modal="ngForm" (ngSubmit)="modal_data(modal.value)">
        <input class="input" name="name" required type="text" placeholder="Changed Name" ngModel />
        <br />
        <br />
        <button (click)="close_modal()" class="cancel_btn" type="button">Cancel</button>
        <button class="login_btn" type="submit">Save</button>
        </form>
    </div>
  </div>

</div>

<!-- The Modal -->
<div *ngIf="toDisplaymodal_sub" id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="form_box">
        <h2 class="heading1">Cancel Subscription</h2>
        <form class="signin_form" #modal_sub="ngForm" (ngSubmit)="modal_data_sub(modal_sub.value)">
        <p>Are you sure you want to cancel your subscription?<p>
        <br />
        <br />
        <button (click)="close_modal()" class="cancel_btn" type="button">Cancel</button>
        <button class="login_btn" type="submit">Yes</button>
        </form>
    </div>
  </div>

</div>