<div class="signin_page">
    <img class="heading_top" src="../assets/images/Hawkeye.png" alt="Hawkeye_img">
    <div class="signin_box">
        <div class="form_box">
            <h2 class="heading1">Sign In</h2>
            <form class="signin_form" #login="ngForm" (ngSubmit)="logindata(login.value)">
            <input class="input" name="email" required #email="ngModel" type="email" email placeholder="Your Email" ngModel />
            <br />
            <br />
            <input class="input" name="password" required #password="ngModel" type="password" placeholder="Password" ngModel />
            <br />
            <br />
            <input class="checkbox" type="checkbox" id="remember_me" name="remember_me" value="remember_me">
            <label for="remember_me">Remember Me</label><br>
            <a href="/forgot_password" class="fp">Forgot Password?</a>
            <button class="login_btn" type="submit">Login</button>
            </form>
        </div>
        <img class="login_img" src="../assets/images/login.png" alt="login_img">
        <div class="text1">Don't have an account?<a href="/signup"> Create Account</a></div>
        <p class="copyright">2022 © All Rights Reserved. Terms of Service</p>
    </div>
</div>