.heading_top{
padding-left: 653.2px;
padding-top: 20px;
padding-bottom: 20px;
width: 200px;
}
.form_box{
    position: absolute;
    width: 583px;
    height: 556px;
    left: 531px;
    background: #F9F9F9;
    border-radius: 0px 22px 22px 0px;
}
.signin_form{
    position: absolute;
    margin: 190px 0px 0px 50px;
}
.login_btn{
    padding: 6px 30px;
    width: 191px;
    background: linear-gradient(90deg, #613DC1 0%, #858AE3 100%);
    border-radius: 5px;
    margin-top: 260px;
    font-weight: 600;
    font-size: 16px;
    line-height: 52px;
    margin-left: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0px;
}
.box_color{
    background: #6298DE;
}
.connect-to-fb-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 30px;
    margin-top: 270px;
    gap: 10px;
    margin-left: 50px;
    width: 328px;
    height: 104px;
    background: linear-gradient(90deg, #613DC1 0%, #858AE3 100%);
    border-radius: 5px;
}
button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 30px;
    color: #FFFFFF;
    border: none;
    margin: 60px 0px 0px 50px;
    gap: 10px;
    width: 144px;
    height: 34px;
    background: linear-gradient(90deg, #613DC1 0%, #858AE3 100%);
    border-radius: 5px;
}
.background-login-img{
    padding: 50px;
    width: 450px;
    height: 456px;
    border-radius: 22px;
    background: #6298DE;
}
.login_img{
padding: 50px;
width: 450px;
border-radius: 22px;
}
.heading1{
    position: absolute;
    height: 53px;
    float: center;
    width: 450px;
    margin: 120px 0px 0px 50px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #000000;
}
.copyright{
    text-align: center;
    margin-top: 60px;
}
.signin_box{
    position: absolute;
width: 1114px;
height: 556px;
left: 194.6px;
background: #FFFFFF;
box-shadow: 1px 2px 23px rgb(70 118 251 / 51%);
border-radius: 22px;
}