<div class="signin_page">
    <img class="heading_top" src="../assets/images/Hawkeye.png" alt="Hawkeye_img">
    <div class="signin_box box_color">
        <div class="form_box">
            <h2 class="heading1">Connect Through Facebook</h2>
            <img class="connect-to-fb-btn" src="../assets/images/facebook.png" (click)="signInWithFB()" />
            <button (click)="logout()">LOGOUT</button>
        </div>
        <img class="login_img background-login-img" src="../assets/images/connect.png" alt="login_img">
        <p class="copyright">2022 © All Rights Reserved. Terms of Service</p>
    </div>
</div>
