button{
    margin : 10px;
    color : white;
}
.r{
    background-color : red;
}
.angle-down_bp{
    width: 20px;
    font-size: 20px;
    margin-top: 15px;
    margin-left: -50px;
    margin-right: 30px;
    float: right;
}
.profile_text{
    text-align: center;
    font-size: 15px;
    color: #111827;
    padding: 2px 0px 2px 0px;
    margin: 2px 7px 5px 7px;
}
.fd-angle-up{
    margin: -48px 10px 0px 0px;
    text-align: right;
    font-size: 15px;
}
.fd-angle-down{
    margin: -48px 10px 0px 0px;
    text-align: right;
    font-size: 15px;
}
.profile_text:hover{
    background: #F3F4F6;
    border-radius: 12px;
}
.logout_text{
    text-align: center;
    font-size: 15px;
    color: #111827;
    padding: 2px 0px 2px 0px;
    margin: 0px 7px 5px 7px;
}
.logout_text:hover{
    background: #F3F4F6;
    border-radius: 12px;
}
.profile_options{
    margin-top: 60px;
    position: absolute;
    width: 140px;
    height: 60px;
    background-color: #ffff;
    margin-left: 1143px;
  }
.angle-up_bp{
    width: 20px;
    font-size: 20px;
    margin-top: 15px;
    margin-left: -50px;
    margin-right: 30px;
    float: right;
}
.total_web_clicks{
    text-align: right;
    font-weight: 700;
    width: 320px;
    font-size: 30px;
    color: #000000;
}
.total_clicks_text{
    font-family: 'PingFang SC';
    font-weight: 600;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: rgba(13, 13, 18, 0.46);
    padding-right: 35px;
}
.g{
    background-color : green;
}
.nc{
    background-color: yellow;
    color : black;
}
.text:hover {
background: #F3F4F6;
border-radius: 12px;
  }
li{
    list-style: none;
    list-style: none;
    font-weight: 550;
    left: 200px;
    width: 140px;
    font-size: 16px;
    line-height: 300%;
    color: #111827;
    padding-left: 60px;
    margin-left: -28px;
}
.options_div{
    margin-top: -10px;
    position: absolute;
    width: 140px;
    height: 100px;
    background-color: #ffff;
    margin-left: 13px;
}
.total_likes_option:hover{
    background: #F3F4F6;
    border-radius: 12px;
}
.total:hover{
    background: #F3F4F6;
    border-radius: 12px;
}
.total_likes_option{
    text-align: center;
    font-size: 20px;
    color: #111827;
    margin: 0px 7px 0px 7px;
}
.total{
    text-align: center;
    font-size: 20px;
    color: #111827;
    padding: 2px 0px 2px 0px;
    margin: 0px 7px 0px 12px;
}
.week{
    text-align: center;
    font-size: 20px;
    color: #111827;
    padding: 5px 0px 5px 0px;
    margin: 0px 7px 5px 7px;
}
.options_div_total{
    margin-top: -30px;
position: absolute;
width: 140px;
height: 110px;
background-color: #ffff;
margin-left: 13px;
}
.link-to-media{
    text-decoration: underline;
    color: blue;
    float: right;
    margin-right: 10px;
}
.post-permalink{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    margin-left: 120px;
    margin-top: -12px;
    font-size: 10px;
    color: #23262F;
}
.angle-down4{
    margin-left: -50px;
    margin-right: -75px;
    margin-top: -41px;
    float: right;
}
.angle-up4{
    margin-left: -50px;
    margin-right: -75px;
    margin-top: -41px;
    float: right;
}
.see_more{
    margin: 13px 0px 0px 215px;
    width: 80px;
    color: black;
    border: none;
    border-radius: 12px;
}
.logout{
    position: absolute;
    left: 150px;
    color: red;
    top: 20px;
}
.week_wbcs{
    text-align: center;
    font-size: 20px;
    color: #111827;
    padding: 5px 0px 5px 0px;
    margin: 55px 7px 25px 7px;
}
.week_wbcs:hover{
    background: #F3F4F6;
    border-radius: 12px;
}
.week_tps:hover{
    background: #F3F4F6;
    border-radius: 12px;
}
.week:hover{
    background: #F3F4F6;
    border-radius: 12px;
}
.month:hover{
    background: #F3F4F6;
    border-radius: 12px;
}
.month_wbcs:hover{
    background: #F3F4F6;
    border-radius: 12px;
}
.month{
    text-align: center;
    font-size: 20px;
    color: #111827;
    padding: 5px 0px 5px 0px;
    margin: 5px 7px 5px 12px;
}
.month_wbcs{
    text-align: center;
    font-size: 20px;
    color: #111827;
    padding: 5px 0px 5px 0px;
    margin: 5px 7px 25px 12px;
}
.angle-down2{
    width: 20px;
    margin-left: -50px;
    margin-right: 30px;
    float: right;
}
.angle-up2{
    width: 20px;
    margin-left: -50px;
    margin-right: 30px;
    float: right;
}
.angle-up3{
    margin-right: 6px;
    float: right;
}
.angle-down3{
    margin-right: 6px;
    float: right;
}
.angle-down{
    margin: -48px 10px 0px 0px;
    text-align: right;
    font-size: 22px;
}
.fa-angle-down{
    font-weight: bold;
}
.fa-angle-up{
    font-weight: bold;
}
.angle-up{
    margin: -48px 10px 0px 0px;
    text-align: right;
    font-size: 22px;
}
.docs-div{
    margin-top: -51px;
    margin-left:-12px;
}
.comp-div{
    margin-top: -53px;
    margin-left:-12px;
}
.help-div{
    margin-top: -53px;
    margin-left:-12px;
}
.mess-div{
    margin-top: -53px;
    margin-left:-12px;
}
.auth-div{
    margin-top: -50px;
    margin-left:-12px;
}
.pages-and-sales-div{
    margin-top: -50px;
    margin-left: -12px;
}
.post-title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin: -45px 0px 30px 60px;
    color: #23262F;
}
.timestamp{
    margin: -20px 0px 0px 60px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #708099;
}
.thumbnail_img{
    width: 36px;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    margin: 10px;
    background-color: yellow;
}
.ps{
    width: 362px;
    height: 56px;
    background: #F9F9F9;
    border-radius: 10px;
    margin: 20px 0px 0px 0px;
}
.reach{
    width: 164px;
    height: 156px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgb(70 118 251 / 41%);
    border-radius: 12px;
}
.Total_Followers{
    width: 164px;
    height: 156px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgb(70 118 251 / 41%);
    border-radius: 12px;
}
.Impressions{
    width: 164px;
    height: 156px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgb(70 118 251 / 41%);
    border-radius: 12px;
}
.Total_Likes{
    width: 164px;
    height: 156px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgb(70 118 251 / 41%);
    border-radius: 12px;
}
.New_Followers{
width: 359px;
height: 335px;
background: #FFFFFF;
box-shadow: 1px 2px 3px rgb(70 118 251 / 41%);
border-radius: 12px;
}
.Followers_and_non_followers{
width: 359px;
height: 335px;
background: #FFFFFF;
box-shadow: 1px 2px 3px rgb(70 118 251 / 41%);
border-radius: 12px;
}
.Followers_By_location{
width: 359px;
height: 335px;
background: #FFFFFF;
box-shadow: 1px 2px 3px rgb(70 118 251 / 41%);
border-radius: 12px;
}
.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-container5{
    display: grid;
    grid-template-columns: auto auto;
}
.grid-container3{
    display: grid;
    grid-template-columns: auto auto;
}
.main3{
    position: absolute;
    left: 40px;
    margin-top: -17px;
}
.profile-visits-visuals{
    margin-left: 412px;
    position: relative;
}
.followers-details-visuals{
position: relative;
margin: -130px 0px 0px -236px;
height: 0px;
}
.Profile_Visits{
    position: absolute;
    width: 355px;
    height: 335px;
    left: 1064px;
    top: 130px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgb(70 118 251 / 41%);
    border-radius: 12px;
}
.Website_Clicks{
position: absolute;
width: 355px;
height: 335px;
left: 651px;
top: 130px;
background: #FFFFFF;
box-shadow: 1px 2px 3px rgba(70, 118, 251, 0.41);
border-radius: 12px;
}
.d_new_following{
    margin: -187px 0px 0px 195px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}
.grid-container4{
    display: grid;
    grid-template-columns: auto auto;
}
.New_Post{
    width: 164px;
    height: 156px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgb(70 118 251 / 41%);
    border-radius: 12px;
}
.d1{
    margin: 0px 30px 20px 0px;
}
.d4{
    margin: 0px 30px 20px 0px;
}
.d2{
    margin: 10px 56.5px 0px 0px;
}
.New_following{
    width: 164px;
    height: 156px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgb(70 118 251 / 41%);
    border-radius: 12px;
}
ul{
    margin-top: -24px;
}
hr{
    width: 120%;
    margin-left: -40px;
    height: 1px;
    background: #E5E7EB;
}
a{
    text-decoration: none;
    color: #111827;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .pages_icon{
    margin-left: -47px;
    margin-right: 21px;
  }
  .dropdown-content a {
    display: block;
  }
  .lock_icon{
    margin-left: -47px;
    margin-right: 21px;
  }
  .sales_icon{
    margin-left: -47px;
    margin-right: 21px;
  }
.navbar{
box-sizing: border-box;
gap: 30px;
position: absolute;
width: 1292.5px;
height: 58px;
left: 227px;
top: 0px;
background: #FFFFFF;
border-bottom: 1px solid #E8E8E8;
  }
.menu_icon{
    position: absolute;
    left: 3%;
    top: 20.51%;
}
.count{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.small_frame_border{
    padding: 3px 13px;
    width: 88px;
    height: 30px;
    margin: 10px 25px 0px 25px;
    top: 232px;
    border: 1px solid #613DC1;
    border-radius: 6px;
}
.Hawkeye2_icon{
    position: absolute;
    width: 136px;
    left: 73.5px;
    top: 10.5px;
}
.reach_percentage_change{
    width: 36px;
    font-family: 'Quicksand';
    font-weight: 700;
    margin-top: -25px;
    margin-left: 34px;
    font-size: 18px;
    color: #613DC1;
}
.impressions_percentage_change{
    width: 36px;
    font-family: 'Quicksand';
    font-weight: 700;
    margin-top: -25px;
    margin-left: 34px;
    font-size: 18px;
    color: #613DC1;
}
.newfollowing_percentage_change{
    width: 36px;
    font-family: 'Quicksand';
    font-weight: 700;
    margin-top: -25.5px;
    font-size: 18px;
    color: #613DC1;
    margin-left: 40px;
    font-size: 18px;
    color: #613DC1;
}
.w{
    margin-left: -50px;
    margin-right: 30px;
    color: #613DC1;
    border-radius: 50%;
    border: 1px solid #613DC1;
    padding: 2px;
}
.w_i{
    margin-right: 10px;
    color: #613DC1;
    border-radius: 50%;
    border: 1px solid #613DC1;
    padding: 2px;
}
.m_i{
    margin-right: 10px;
    color: #613DC1;
    border-radius: 50%;
    border: 1px solid #613DC1;
    padding: 2px;
}
.m{
    margin-left: -50px;
    margin-right: 30px;
    color: #613DC1;
    border-radius: 50%;
    border: 1px solid #613DC1;
    padding: 2px;
}
.unit_change{
    font-size: 13px;
    color: #613DC1;
    width: 10px;
}
.get_visuals{
    color: #613DC1;
}
.newpost_percentage_change{
    width: 36px;
    font-family: 'Quicksand';
    font-weight: 700;
    margin-top: -41.5px;
    font-size: 18px;
    color: #613DC1;
    margin-left: 50px;
}
.visuals{
    margin: 10px;
    color: #613DC1;
    padding: 3px 13px;
    width: 188px;
    text-decoration: underline;
    font-size: 30px;
    height: 130px;
    margin: 50px 84px 0px 90px;
    border: 1px solid #613DC1;
    border-radius: 6px;
}
.Content_reach_text{
    font-family: 'Quicksand';
    font-style: normal;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #343434;
}
.reels_count{
    font-weight: 700;
    margin-left: 40px;
    margin-top: 6px;
    font-size: 25px;
    color: #613DC1;
}
.new_following_block{
    font-size: 18px;
}
.doughnut-lg{
    width: 270px;
    margin-top: -20px;
    margin-left: 60px;
}
.city_text{
    margin-bottom: 10px;
    margin-top: 40px;
    }
.lg{
    display: block;
    box-sizing: border-box;
    height: 256px;
    width: 364.4px;
    margin-left: -4px;
    margin-top: -15px;
    padding: 10px;
}
.percentage_text{
    font-family: 'PingFang SC';
    font-weight: 600;
    margin-top: -17px;
    padding-left: 20px;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: rgba(13, 13, 18, 0.46);
}
.options_div_web{
    margin-top: -10px;
    position: absolute;
    width: 350px;
    height: 270px;
    background-color: #fff;
    margin-left: 3px;
}
#angle3{
    margin-left: -100px;
}
.w2{
    margin-left: -105px;
    margin-right: 90px;
    color: #613DC1;
    border-radius: 50%;
    border: 1px solid #613DC1;
    padding: 2px;
}
.m2{
    margin-left: -105px;
    margin-right: 90px;
    color: #613DC1;
    border-radius: 50%;
    border: 1px solid #613DC1;
    padding: 2px;
}
.total_web_clicks_pc{
    text-align: left;
    font-weight: 700;
    margin-top: -50px;
    padding-left: 17px;
    width: 320px;
    font-size: 30px;
    color: #000000;
    padding-bottom: 20px;
}
.line-graph{
    box-shadow: 0px 8px 64px rgb(15 34 67 / 6%), 0px 0px 1px rgb(15 34 67 / 8%);
    border-radius: 24px;
    padding: 10px;
    padding-top: 60px;
    margin-top: -50px;
}
.reels_count_no{
    margin-top: 6px;
    color: #5E5E5E;
    font-weight: 700;
    font-size: 25px;
}
.posts_count_no{
    margin-top: 6px;
    color: #5E5E5E;
    font-weight: 700;
    font-size: 25px;
}
.posts_count{
    font-weight: 700;
    margin-left: 25px;
    font-size: 25px;
    margin-top: 6px;
    color: #613DC1;
}
.rp{
    display: flex;
    width: 334px;
    height: 44px;
    margin-top: 18px;
    float: center;
    margin-left: 13px;
    background: #F3F3F3;
    border-radius: 10px;
}
.week_tps{
    text-align: center;
    font-size: 20px;
    color: #111827;
    padding: 5px 0px 5px 0px;
    margin: 35px 7px 10px 7px;
}
.options_div_topposts{
    margin-top: 20px;
    position: absolute;
    width: 750px;
    height: 220px;
    background-color: #fff;
}
.tpl_text{
    font-family: 'Quicksand';
    font-style: normal;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #343434;
}
.tpl_text2{
    margin-bottom: -5px;
}
.tl_percentage_change{
    font-family: 'Quicksand';
    font-weight: 700;
    margin-top: -24px;
    margin-left: 40px;
    font-size: 18px;
    color: #613DC1;
}
.totalfollowers_percentage_change{
    width: 36px;
    font-family: 'Quicksand';
    font-weight: 700;
    top: 107px;
    left: 80px;
    position: absolute;
    font-size: 18px;
    color: #613DC1;
}
.tlc{
    margin-top: -15px;
}
.like_sfb{
    margin-top: -15px;
}
.TLSCS_text{
    width: 130px;
    padding-left: 16px;
    font-weight: 700;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    color: #979797;
    margin-top: 1px;
}
.chart-bar_icon{
    padding-left: 4px;
}
h3{
    font-family: 'Quicksand';
    font-style: normal;
    text-align: center;
    font-size: 20px;
    margin-top: 12px;
    color: #343434;
}
.rights{
    position: absolute;
    width: 279px;
    height: 15px;
    left: 581px;
    top: 1300px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #3A3A49;
}
.main6{
    position: absolute;
    width: 359px;
    height: 106px;
    left: 273px;
    top: 1047px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgb(70 118 251 / 41%);
    border-radius: 12px;
}
.main5{
    position: absolute;
    width: 775px;
    height: 283px;
    left: 689px;
    top: 870px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px rgb(70 118 251 / 41%);
    border-radius: 12px;
}
.main{
    position: absolute;
    left: 273px;
    font-size: 20px;
    top: 50px;
}
.profile-visuals{
    margin-left:455px;
    margin-top: 0.2px;
}
.main4{
    position: absolute;
    left: 273px;
    font-size: 20px;
    top: 870px;
}
.d3{
    margin: 10px 56.5px 0px 0px;
}
.main2{
    position: absolute;
    left: 273px;
    top: 490px;
}
.Avatar_icon{
    position: absolute;
    left: 1200px;
    top: 12px;
}
.bell_wn_icon{
    position: absolute;
    left: 1160px;
    top: 16px;
}
.search{
    margin: 10px;
    color: white;
    position: absolute;
    left: 1040px;
    margin: 10px;
    color: white;
    left: 1040px;
    background: #F9FAFB;
    border: none;
    top: 5px;
    position: absolute;
}
input{
    box-sizing: border-box;
    position: absolute;
    width: 222px;
    height: 33px;
    left: 875px;
    padding-left: 10px;
    top: 12px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
}
  .inbox_icon{
    margin-left: -47px;
    margin-right: 21px;
  }
  .docs_icon{
    margin-left: -47px;
    margin-right: 21px;
  }
  .components_icon{
    margin-left: -47px;
    margin-right: 21px;
  }
  .support_icon{
    margin-left: -47px;
    margin-right: 21px;
  }
  .show {display: block;}