<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="main">
    <h2>Dashboard</h2>
    <div class="grid-container">
    <div class="d1 reach">
        <h3 class="reach_block" (click)="select_reach_period()"><span *ngIf="toDisplay_reach_period_week" class="w">W</span><span class="m" *ngIf="toDisplay_reach_period_30">M</span>Reach<div *ngIf="!toDisplay_reach_period" class="angle-down2"><i class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay_reach_period" class="angle-up2"><i class="fa fa-angle-up" aria-hidden="true"></i></div></h3>
        <div class="options_div" *ngIf="toDisplay_reach_period">
        <div class="week" (click)="reach_week()" *ngIf="toDisplay_reach_period">Week</div>
        <div class="month" (click)="reach30()" *ngIf="toDisplay_reach_period">Month</div>
        <div class="month" (click)="reach_calender()">Calender</div>
        </div>
        <div class="count" *ngIf="toDisplay_reach_period_week">{{Reach_week}}</div>
        <div class="count" *ngIf="toDisplay_reach_period_30">{{Reach_30}}</div>
        <div class="small_frame_border">
            <img class="chart-bar_icon" src="../assets/images/chart-bar.png" alt="chart-bar_img">
            <div class="reach_percentage_change">{{reach_percentage_change}}%</div>
        </div>
    </div>
    <div class="d1 Impressions">
        <h3 class="imp_block" (click)="select_imp_period()"><span *ngIf="toDisplay_imp_period_week" class="w_i">W</span><span class="m_i" *ngIf="toDisplay_imp_period_30">M</span>Impressions<div *ngIf="!toDisplay_imp_period" class="angle-down3"><i class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay_imp_period" class="angle-up3"><i class="fa fa-angle-up" aria-hidden="true"></i></div></h3>
        <div class="options_div" *ngIf="toDisplay_imp_period">
        <div class="week" (click)="imp_week()" *ngIf="toDisplay_imp_period">Week</div>
        <div class="month" (click)="imp_30()" *ngIf="toDisplay_imp_period">Month</div>
        <div class="month" (click)="imp_calender()">Calender</div>
        </div>
        <div class="count" *ngIf="toDisplay_imp_period_week">{{impressions_week}}</div>
        <div class="count" *ngIf="toDisplay_imp_period_30">{{impressions_30}}</div>
        <div class="small_frame_border">
            <img class="chart-bar_icon" src="../assets/images/chart-bar.png" alt="chart-bar_img">
            <div class="impressions_percentage_change">{{imp_percentage_change}}%</div>
        </div>
    </div>
    <div class="d1 New_following">
        <h3 class="imp_block new_following_block"><span *ngIf="toDisplay_newfollowing_week" class="w_i">W</span><span class="m_i" *ngIf="toDisplay_newfollowing_month">M</span>New following<div *ngIf="!toDisplay_newfollowing_period" class="angle-down3" (click)="select_newfollowing_period()"><i class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay_newfollowing_period" class="angle-up3" (click)="select_newfollowing_period()"><i class="fa fa-angle-up" aria-hidden="true"></i></div></h3>
        <div class="options_div" *ngIf="toDisplay_newfollowing_period">
        <div class="week" (click)="newfollowing_week()">Week</div>
        <div class="month" (click)="newfollowing_month()">Month</div>
         </div>
        <div class="count" *ngIf="toDisplay_newfollowing_week">{{this.new_following_week}}</div>
        <div class="count" *ngIf="toDisplay_newfollowing_month">{{this.new_following_month}}</div>
        <div class="small_frame_border">
            <img class="chart-bar_icon" src="../assets/images/chart-bar.png" alt="chart-bar_img">
            <div class="newfollowing_percentage_change" *ngIf="toDisplay_newfollowing_week">{{this.new_following_pcw}}%</div>
            <div class="newfollowing_percentage_change" *ngIf="toDisplay_newfollowing_month">{{this.new_following_pcm}}%</div>
        </div>
    </div>
    <div class="d1 New_Post">
        <h3 class="imp_block" (click)="select_np_period()"><span *ngIf="toDisplay_np_period_week" class="w_i">W</span><span class="m_i" *ngIf="toDisplay_np_period_30">M</span>New Posts<div *ngIf="!toDisplay_np_period" class="angle-down3"><i class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay_np_period" class="angle-up3"><i class="fa fa-angle-up" aria-hidden="true"></i></div></h3>
        <div class="options_div" *ngIf="toDisplay_np_period">
        <div class="week" (click)="np_week()">Week</div>
        <div class="month" (click)="np_30()">Month</div>
        <div class="month" (click)="newpost_calender()">Calender</div>
        </div>
        <div *ngIf="toDisplay_np_period_week" class="count">{{nps_week}}</div>
        <div *ngIf="toDisplay_np_period_30" class="count">{{nps_30}}</div>
        <div class="small_frame_border">
       <div class="unit_change">Unit Change : </div>
        <div class="newpost_percentage_change">{{this.unit_change}}</div>
        </div>
    </div>
    </div>
    </div>
<div class="main3">
    <div class="grid-container3">
    <div class="d3 Website_Clicks"><h3><span *ngIf="toDisplay_website_period_week" class="w2">W</span><span class="m2" *ngIf="toDisplay_website_period_30">M</span>Website Clicks<div  (click)="select_website_period()" *ngIf="!toDisplay_website_period" class="angle-down2"><i id="angle3" class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay_website_period"  (click)="select_website_period()" class="angle-up2"><i id="angle3" class="fa fa-angle-up" aria-hidden="true"></i></div></h3>
    <div class="options_div_web" *ngIf="toDisplay_website_period">
    <div class="week_wbcs" (click)="wbc_week()">Week</div>
    <div class="month_wbcs" (click)="wbc_30()">Month</div>
    <div class="month" (click)="wbcs_calender()">Calender</div>
    </div>    
    <div class="total_web_clicks">{{this.wcs}}</div>
    <div class="total_clicks_text">Total Clicks</div>
    <div class="total_web_clicks_pc">{{wcs_percentage_change}}%</div>
    <div class="percentage_text">Percentage Change</div>
    <div *ngIf="toDisplay_website_period_week" class="lg"><canvas class="line-graph" baseChart width="600" height="450" [type]="lineChartType" [options]="lineChartOptions" [data]="lineChartData"></canvas></div>
    <div *ngIf="toDisplay_website_period_30" class="lg"><canvas class="line-graph" baseChart width="600" height="450" [type]="lineChartType" [options]="lineChartOptions" [data]="lineChartDatamonth"></canvas></div>
    </div>
    <div class="profile-visits-visuals"><app-profile-visits-visuals></app-profile-visits-visuals></div>
    </div>
</div>
<div class="main2">
<div class="grid-container2">
<app-newfollwers></app-newfollwers>
<div class="followers-details-visuals"><app-followers-details-visuals></app-followers-details-visuals></div>
<div class="d2 Followers_and_non_followers"><h3>Followers and Non Followers</h3>
    <div class="doughnut-lg"><canvas class="doughnut-graph" baseChart width="600" height="450" [type]="doughnutChartType"  [data]="doughnutChartData"></canvas></div>
</div>
</div>
</div>
<div class="main4">
    <div class="grid-container4">
    <div class="d4 Total_Followers"><h3>Total Followers</h3><div class="count">{{total_followers}}</div>
    <div class="small_frame_border">
        <img class="chart-bar_icon" src="../assets/images/chart-bar.png" alt="chart-bar_img">
        <div class="totalfollowers_percentage_change">100%</div>
    </div></div>
    <div class="d4 Total_Likes"><h3 *ngIf="toDisplay_total_likes">T-Likes</h3><h3 *ngIf="toDisplay_total_comments">T-Comments</h3><h3 *ngIf="toDisplay_total_shares">T-Shares</h3><h3 *ngIf="toDisplay_total_saved">T-Saved</h3><div  (click)="select_total_options()" *ngIf="!toDisplay_total_options" class="angle-down4"><i id="angle3" class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay_total_options"  (click)="select_total_options()" class="angle-up4"><i id="angle3" class="fa fa-angle-up" aria-hidden="true"></i></div><div *ngIf="toDisplay_total_likes" class="tlc count">{{total_likes}}</div><div *ngIf="toDisplay_total_comments" class="tlc count">{{total_comments}}</div><div *ngIf="toDisplay_total_shares" class="tlc count">{{total_shared}}</div><div *ngIf="toDisplay_total_saved" class="tlc count">{{total_saved}}</div>
    <div class="options_div_total" *ngIf="toDisplay_total_options">
        <div class="total_likes_option" (click)="total_like()">likes</div>
        <div class="total" (click)="total_comment()">comments</div>
        <div class="total" (click)="total_shares()">shares</div>
        <div class="total" (click)="total_saves()">saves</div>
        </div>
    <p class="TLSCS_text">Total Likes, Saves, Comments and Shares (for posts and reels for IG)<p>
    <div class="like_sfb small_frame_border">
        <img class="chart-bar_icon" src="../assets/images/chart-bar.png" alt="chart-bar_img">
        <div class="tl_percentage_change">60%</div>
    </div></div>
    </div>
</div>
<div class="main5">
    <div class="tpl_text"><h3 class="tpl_text2">Top posts by <span *ngIf="toDisplay_tpcount_likes">Likes</span><span *ngIf="toDisplay_tpcount_comments">Comments</span><span *ngIf="toDisplay_tpcount_saved">Saved</span><span *ngIf="toDisplay_tpcount_reach">Reach</span><div  (click)="select_toppost_options()" *ngIf="!toDisplay_toppost_options" class="angle-down2"><i id="angle3" class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay_toppost_options"  (click)="select_toppost_options()" class="angle-up2"><i id="angle3" class="fa fa-angle-up" aria-hidden="true"></i></div></h3>
    <div class="options_div_topposts" *ngIf="toDisplay_toppost_options">
        <div class="week_tps" (click)="tp_likes()">likes</div>
        <div class="month" (click)="tp_comments()">Comments</div>
        <div class="month" (click)="tp_saved()">Saved</div>
        <div class="month" (click)="tp_reach()">Reach</div>
        </div>      
    <div class="grid-container5">
            <div class="ps">
                <div class="thumbnail_img">1</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="post-title">Caption : {{toppost_by_caption0}}...</div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="post-title">Caption : {{toppost_by_caption0}}...</div>
                <div *ngIf="toDisplay_tpcaptions_reach" class="post-title">Caption : {{toppost_by_caption0}}...</div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="post-title">Caption : {{toppost_by_caption0}}...</div>
                <div *ngIf="toDisplay_tpcount_likes" class="timestamp">Likes : {{toppost_by_likes0}}</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="post-permalink"><a class="link-to-media" href={{toppost_permalink0}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcount_comments" class="timestamp">Comments : {{toppost_by_likes0}}</div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="post-permalink"><a class="link-to-media" href={{toppost_permalink0}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcount_reach" class="timestamp">Reach : {{toppost_by_likes0}}</div>
                <div *ngIf="toDisplay_tpcount_reach" class="post-permalink"><a class="link-to-media" href={{toppost_permalink0}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcount_saved" class="timestamp">Saved : {{toppost_by_likes0}}</div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="post-permalink"><a class="link-to-media" href={{toppost_permalink0}}>Link to media</a></div>
            </div>
            <div class="ps">
                <div class="thumbnail_img">2</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="post-title">Caption : {{toppost_by_caption1}}...</div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="post-title">Caption : {{toppost_by_caption1}}...</div>
                <div *ngIf="toDisplay_tpcaptions_reach" class="post-title">Caption : {{toppost_by_caption1}}...</div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="post-title">Caption : {{toppost_by_caption1}}...</div>
                <div *ngIf="toDisplay_tpcount_likes" class="timestamp">Likes : {{toppost_by_likes1}}</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="post-permalink"><a class="link-to-media" href={{toppost_permalink1}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcount_comments" class="timestamp">Comments : {{toppost_by_likes1}}</div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="post-permalink"><a class="link-to-media" href={{toppost_permalink1}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcount_reach" class="timestamp">Reach : {{toppost_by_likes1}}</div>
                <div *ngIf="toDisplay_tpcount_reach" class="post-permalink"><a class="link-to-media" href={{toppost_permalink1}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcount_saved" class="timestamp">Saved : {{toppost_by_likes1}}</div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="post-permalink"><a class="link-to-media" href={{toppost_permalink1}}>Link to media</a></div>
            </div>
            <div class="ps">
                <div class="thumbnail_img">3</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="post-title">Caption : {{toppost_by_caption2}}...</div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="post-title">Caption : {{toppost_by_caption2}}...</div>
                <div *ngIf="toDisplay_tpcaptions_reach" class="post-title">Caption : {{toppost_by_caption2}}...</div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="post-title">Caption : {{toppost_by_caption2}}...</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="timestamp">Likes : {{toppost_by_likes2}}</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="post-permalink"><a class="link-to-media" href={{toppost_permalink2}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="timestamp">Comments : {{toppost_by_likes2}}</div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="post-permalink"><a class="link-to-media" href={{toppost_permalink2}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcaptions_reach" class="timestamp">Reach : {{toppost_by_likes2}}</div>
                <div *ngIf="toDisplay_tpcount_reach" class="post-permalink"><a class="link-to-media" href={{toppost_permalink2}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="timestamp">Saved : {{toppost_by_likes2}}</div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="post-permalink"><a class="link-to-media" href={{toppost_permalink2}}>Link to media</a></div>
            </div>
            <div class="ps">
                <div class="thumbnail_img">4</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="post-title">Caption : {{toppost_by_caption3}}...</div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="post-title">Caption : {{toppost_by_caption3}}...</div>
                <div *ngIf="toDisplay_tpcaptions_reach" class="post-title">Caption : {{toppost_by_caption3}}...</div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="post-title">Caption : {{toppost_by_caption3}}...</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="timestamp">Likes : {{toppost_by_likes3}}</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="post-permalink"><a class="link-to-media" href={{toppost_permalink3}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="timestamp">Comments : {{toppost_by_likes3}}</div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="post-permalink"><a class="link-to-media" href={{toppost_permalink3}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcaptions_reach" class="timestamp">Reach : {{toppost_by_likes3}}</div>
                <div *ngIf="toDisplay_tpcount_reach" class="post-permalink"><a class="link-to-media" href={{toppost_permalink3}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="timestamp">Saved : {{toppost_by_likes3}}</div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="post-permalink"><a class="link-to-media" href={{toppost_permalink3}}>Link to media</a></div>
            </div>
            <div class="ps">
                <div class="thumbnail_img">5</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="post-title">Caption : {{toppost_by_caption4}}...</div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="post-title">Caption : {{toppost_by_caption4}}...</div>
                <div *ngIf="toDisplay_tpcaptions_reach" class="post-title">Caption : {{toppost_by_caption4}}...</div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="post-title">Caption : {{toppost_by_caption4}}...</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="timestamp">Likes : {{toppost_by_likes4}}</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="post-permalink"><a class="link-to-media" href={{toppost_permalink4}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="timestamp">Comments : {{toppost_by_likes4}}</div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="post-permalink"><a class="link-to-media" href={{toppost_permalink4}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcaptions_reach" class="timestamp">Reach : {{toppost_by_likes4}}</div>
                <div *ngIf="toDisplay_tpcount_reach" class="post-permalink"><a class="link-to-media" href={{toppost_permalink4}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="timestamp">Saved : {{toppost_by_likes4}}</div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="post-permalink"><a class="link-to-media" href={{toppost_permalink4}}>Link to media</a></div>
            </div>
            <div class="ps">
                <div class="thumbnail_img">6</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="post-title">Caption : {{toppost_by_caption5}}...</div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="post-title">Caption : {{toppost_by_caption5}}...</div>
                <div *ngIf="toDisplay_tpcaptions_reach" class="post-title">Caption : {{toppost_by_caption5}}...</div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="post-title">Caption : {{toppost_by_caption5}}...</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="timestamp">Likes : {{toppost_by_likes5}}</div>
                <div *ngIf="toDisplay_tpcaptions_likes" class="post-permalink"><a class="link-to-media" href={{toppost_permalink5}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="timestamp">Comments : {{toppost_by_likes5}}</div>
                <div *ngIf="toDisplay_tpcaptions_comments" class="post-permalink"><a class="link-to-media" href={{toppost_permalink5}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcaptions_reach" class="timestamp">Reach : {{toppost_by_likes5}}</div>
                <div *ngIf="toDisplay_tpcount_reach" class="post-permalink"><a class="link-to-media" href={{toppost_permalink5}}>Link to media</a></div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="timestamp">Saved : {{toppost_by_likes5}}</div>
                <div *ngIf="toDisplay_tpcaptions_saved" class="post-permalink"><a class="link-to-media" href={{toppost_permalink5}}>Link to media</a></div>
            </div>
        </div>
    </div>
</div>
<div class="main6">
    <div class="Content_reach_text">Content Reach</div>
    <div class="rp">
        <div class="reels_count">Reels:</div><div class="reels_count_no">{{reel_reach}}</div>
        <div class="posts_count">Posts:</div><div class="posts_count_no">{{feed_reach}}</div>
    </div>
</div>
<span class="rights">2022 © All Rights Reserved. Terms of Service</span>