
<div class="signin_page">
  <img class="heading_top" src="../assets/images/Hawkeye.png" alt="Hawkeye_img">
  <div class="signin_box">
      <div class="form_box">
        <img class="tick_img" src="../assets/images/cancel.png" alt="login_img">
        <h1 class="success_text">Payment cancelled!</h1>
        <div class="cancel_body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</div>
      <button (click)="try_again()">TRY AGAIN</button>
      </div>
      <img class="cancel_img" src="../assets/images/cancel_payment.png" alt="login_img">
      <div class="copyright">2022 © All Rights Reserved. Terms of Service</div>
  </div>
</div>
