.new_following_heading{
    padding: 10px 0px 0px 0px;
}
.bar-graph[_ngcontent-ysr-c57] {
    box-shadow: 0px 8px 64px rgb(15 34 67 / 6%), 0px 0px 1px rgb(15 34 67 / 8%);
    border-radius: 24px;
    padding: 10px;
    padding-top: 60px;
}