<div class="d2 New_Followers"><h3 class="new_following_heading"><span *ngIf="toDisplay_profile_period_week" class="w2">W</span><span class="m2" *ngIf="toDisplay_profile_period_30">M</span>New Followers<div (click)="select_profile_period()" *ngIf="!toDisplay_profile_period" class="angle-down2"><i id="angle3" class="fa fa-angle-down" aria-hidden="true"></i></div><div (click)="select_profile_period()" *ngIf="toDisplay_profile_period" class="angle-up2"><i id="angle3" class="fa fa-angle-up" aria-hidden="true"></i></div></h3>
<div class="options_div_web" *ngIf="toDisplay_profile_period">
<div class="hand week_wbcs" (click)="nfs_week()">Week</div>
<div class="hand month_wbcs" (click)="nfs_30()">Month</div>
</div>    
<div class="total_web_clicks">{{newfollowers_c}}</div>
<div class="total_clicks_text">New Followers</div>
<div *ngIf="toDisplay_profile_period_week" class="total_web_clicks_pc">{{newfollowers_pc}}%</div>
<div *ngIf="toDisplay_profile_period_week" class="percentage_text">Percentage Change</div>  
<div *ngIf="toDisplay_profile_period_week" class="lg"><canvas class="bar-graph" baseChart width="600" height="350" type="bar" [options]="barChartOptions" [data]="barChartData"></canvas></div>
<div *ngIf="toDisplay_profile_period_30" class="lg"><canvas class="bar-graph" baseChart width="600" height="350" type="bar" [options]="barChartOptions" [data]="barChartDatamonth"></canvas></div>
</div>
