<div class="signin_page">
  <img class="heading_top" src="../assets/images/Hawkeye.png" alt="Hawkeye_img">
  <div class="signin_box">
      <div class="form_box">
        <img class="tick_img" src="../assets/images/big_tick.png" alt="login_img">
        <h1 class="success_text">Payment Successful!</h1>
        <p>Transaction Number : 113455343535465</p>
        <div class="box">
          <h3>Amount Paid:</h3><div class="amount">$19</div>
        </div>
        <div class="box">
          <h3>Card Number:</h3><div class="bank">4242424242424242</div>
        </div>
      <button (click)="connect_to_fb()">CONTINUE</button>
      </div>
      <img class="success_img" src="../assets/images/success_payment.png" alt="login_img">
      <div class="copyright">2022 © All Rights Reserved. Terms of Service</div>
  </div>
</div>
