.success_img{
    padding: 20px 0px 0px 20px;
    width: 400px;
    width: 500px;
    height: 500px;
    border-radius: 22px;
}
.box{
    width: 509px;
    height: 57px;
    margin-left: 40px;
    margin-bottom: 10px;
    background: #FFFFFF;
}
.success_text{
width: 422px;
height: 53px;
font-family: 'Quicksand';
margin-left: 100px;
font-style: normal;
margin-top:10px;
font-weight: 700;
font-size: 42px;
line-height: 52px;
color: #000000;
}
button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 30px;
    color: #FFFFFF;
    border: none;
    margin: 30px 0px 0px 230px;
    gap: 10px;
    width: 144px;
    height: 34px;
    background: linear-gradient(90deg, #613DC1 0%, #858AE3 100%);
    border-radius: 5px;
}
.bank{
    height: 25px;
    font-family: 'Mulish';
    font-style: normal;
    text-align: right;
    margin-right: 20px;
    margin-top: -40px;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #555555;
}
.amount{
    height: 25px;
    font-family: 'Mulish';
    font-style: normal;
    text-align: right;
    margin-right: 20px;
    margin-top: -40px;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #555555;
    }
h3{
    width: 436px;
    height: 25px;
    margin-left: 60px;
    padding-top: 15px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #555555;
}
p{
    width: 383px;
    height: 25px;
    font-family: 'Mulish';
    font-style: normal;
    margin-left: 120px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: -10px;
    line-height: 25px;
    text-transform: capitalize;
    color: #555555;
}
.tick_img{
    width: 76.66px;
    height: 76.66px;
    margin-left: 250px;
    margin-top: 60px;
}