label{
    width: 147px;
    height: 19px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-transform: capitalize;
    color: #555555;
    padding-left: 50px;
}