<div class="forgot_page">
    <img class="heading_top" src="../assets/images/Hawkeye.png" alt="Hawkeye_img">
    <div class="forgot_box">
        <div class="form_box">
            <h1>Reset Password</h1>
            <form class="forgot_form" #forgot="ngForm" (ngSubmit)="forgotpass(forgot.value)">
                <label>Reset your Password</label>
                <input class="input" name="pass" required type="password" placeholder="New Password" ngModel />
                <br />
                <input class="input" name="confirm_pass" required type="password" placeholder="Confirm Password" ngModel />
                <br />
                <button class="hand forgot_btn" type="submit">Save</button>
            </form>
        </div>
        <img class="login_img" src="../assets/images/login.png" alt="login_img">
        <p class="copyright">2023 © All Rights Reserved. Terms of Service</p>
    </div>
</div>