<div class="d3 Website_Clicks"><h3><span *ngIf="toDisplay_city" class="w2fd">CI</span><span *ngIf="toDisplay_country" class="w2fd">CO</span><span *ngIf="toDisplay_gender" class="w2fd">G</span><span class="w2fd" *ngIf="toDisplay_age">A</span>Follwers Details<div  (click)="select_details()" *ngIf="!toDisplay_details" class="angle-down2"><i id="angle3" class="fa fa-angle-down" aria-hidden="true"></i></div><div *ngIf="toDisplay_details"  (click)="select_details()" class="angle-up2"><i id="angle3" class="fa fa-angle-up" aria-hidden="true"></i></div></h3>
<div class="options_div_web" *ngIf="toDisplay_details">
<div class="week_wbcs city_text" (click)="fd_city()">City</div>
<div class="month" (click)="fd_country()">Country</div>
<div class="month" (click)="fd_gender()">Gender&Age</div>
</div>
<div class="doughnut-lg" *ngIf="toDisplay_city">
<canvas class="doughnut-graph" baseChart width="600" height="450"
[data]="doughnutChartData"
[type]="doughnutChartType"></canvas>
<button class="see_more" (click)="city_details()">See more</button>
</div>
<div class="doughnut-lg" *ngIf="toDisplay_country">
<canvas class="doughnut-graph" baseChart width="600" height="450"
[data]="doughnutChartData"
[type]="doughnutChartType"></canvas>
<button class="see_more" (click)="country_details()">See more</button>
</div>
<div class="doughnut-lg" *ngIf="toDisplay_gender">
<canvas class="doughnut-graph" baseChart width="600" height="450"
[data]="doughnutChartData"
[type]="doughnutChartType"></canvas>
<button class="see_more" (click)="gender_details()">See more</button>
</div>