<app-navbar2></app-navbar2>
<div class="forgot_page">
    <!--<img class="heading_top" src="../assets/images/Hawkeye.png" alt="Hawkeye_img">-->
    <div class="forgot_box">
        <div class="form_box">
            <h1>Forgot Password?</h1>
            <p class="text">Enter your email address and we'll send you an email with instructions to reset your password.</p>
            <form class="forgot_form" #forgot="ngForm" (ngSubmit)="forgotemail(forgot.value)">
                <input class="input" name="email" required #email="ngModel" type="email" email placeholder="Your Registered Email" ngModel />
                <br />
                <div class="flex_box">
                    <button class="hand forgot_btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <img class="login_img" src="../assets/images/login.png" alt="login_img">
        <p class="copyright">2023 © All Rights Reserved. Terms of Service</p>
    </div>
</div>