.heading_top{
padding-left: 653.2px;
padding-top: 20px;
padding-bottom: 20px;
width: 200px;
}
h1{
    font-size: 42px;
    margin-top: 110px;
    color: #000000;
    padding-left: 50px;
    margin-bottom: 20px;
}
.gbh{
    color: #FFFFFF;
    width: 60px;
    height: 22px;
    margin-left: 195px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    width: 120px;
    height: 34px;
    background: linear-gradient(90deg, #fe0000 0%, #ff0000 100%);
    border-radius: 5px;
    border: 0px;
}
.flex_box{
    display: flex;
}
.forgot_btn{
    color: #FFFFFF;
    width: 60px;
    height: 22px;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    width: 120px;
    height: 34px;
    background: linear-gradient(90deg, #613DC1 0%, #858AE3 100%);
    border-radius: 5px;
    border: 0px;
}
input{
    box-sizing: border-box;
    width: 437px;
    height: 46px;
    border: 1px solid #E3E5FF;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 5%);
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 20px;
    padding-left: 20px;
}
.text{
width: 437px;
font-size: 15px;
line-height: 19px;
padding-left: 50px;
color: #555555;
}
.form_box{
    position: absolute;
    left: 510px;
    width: 604px;
    height: 556px;
    background-color: #F9F9F9;
    border-radius: 0px 22px 22px 0px;
}
.login_img{
padding: 50px;
width: 400px;
border-radius: 22px;
}
.copyright{
    text-align: center;
    margin-top: 30px;
}
.forgot_box{
    position: absolute;
width: 1114px;
height: 556px;
left: 194.6px;
background: #FFFFFF;
box-shadow: 1px 2px 23px rgb(70 118 251 / 51%);
border-radius: 22px;
}