<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<h1 class="heading">Our Plans</h1>
<div class="pricing_options">
    <div class="pricing_box">
        <h3 class="pricing_select_text">Freelancer</h3>
        <div class="purple">
            <div class="text-inside-purple1"><span class="dollar1">$</span>19/mo</div>
            <div class="text-inside-purple2">($ 16 Anually)</div>
        </div>
        <ul class="points">
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">1-5 Social Media Accounts</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">1 User</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Instagram user and media insights</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Compare stats on Dashboard</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Graph and percentage change</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Updated Weeky & Monthly</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">PNG & PDF Download</span></li>
            <hr/>
        </ul>
    <button class="start-trial" (click)="freelancer_package('price_1M6UkSSJb05mAKIh3lGG9X6y')">START TRIAL</button>
    </div>
    <div class="box2">
        <h3 class="pricing_select_text">Agency</h3>
        <div class="purple">
        <div class="text-inside-purple1"><span class="dollar2">$</span>24/mo</div>
        <div class="text-inside-purple2">($ 21 Anually)</div>
        </div>
        <ul class="points">
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Everything in freelancer</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">5-10 Social Media Accounts</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Instagram & Facebook(More Soon)</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Drag and Drop</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Unlimited Integrations</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Updated Weeky & Monthly</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">PNG & PDF Download</span></li>
            <hr/>
        </ul>
    <button class="start-trial" (click)="in_development()">IN DEVLOPMENT</button>
    </div>
    <div class="box3">
        <h3 class="pricing_select_text">Enterprise</h3>
        <div class="purple">
        <div class="text-inside-purple1"><span class="dollar3">$</span>34/mo</div>
        <div class="text-inside-purple2">($ 31 Anually)</div>
        </div>
        <ul class="points">
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">1-5 Social Media Accounts</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">1 User</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Instagram & Facebook</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Drag and Drop</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Unlimited Integrations</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">Updated Weeky & Monthly</span></li>
            <hr/>
            <li><img class="tick_icon" src="../assets/images/tick.png" alt="tick_img"><span class="features">PNG & PDF Download</span></li>
            <hr/>
        </ul>
    <button class="start-trial" (click)="in_development()">IN DEVLOPMENT</button>
    </div>
</div>
<span class="rights">2022 © All Rights Reserved. Terms of Service</span>