<div class="signin_page">
    <img class="heading_top" src="../assets/images/Hawkeye.png" alt="Hawkeye_img">
    <div class="notfound_box">
        <div class="form_box">
            <h2 class="notfound_heading">Something's wrong here</h2>
            <p class="err_msg">This is a 404 error, which means you've clicked on a bad link or entered an invalid URL.</p>
            <button class="hand" (click)="backClicked()">GO BACK</button>
        </div>
        <img class="notfound_img" src="../assets/images/notfound.png" alt="login_img">
        <p class="copyright">2023 © All Rights Reserved. Terms of Service</p>S
    </div>
</div>