<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="box2">
<div class="form_box">
    <h2 class="heading1">Website Clicks Insights</h2>
    <form class="reach_form" #reach="ngForm" (ngSubmit)="wbcsdata(reach.value)">
    <div class="label">
    <br>
    <label>Select Starting date:</label>
    <label>Select time period range:</label>
    </div><br>
    <div class="input">
      <input class="calender_input" name="date" required #date="ngModel" type="date" date placeholder="Provide a starting date" ngModel />
    <select name="period" id="period" ngModel>
      <option value="week">Week</option>
      <option value="month">Month</option>
    </select>
    <button class="login_btn" type="submit">Get Insights</button>
    </div>
    </form>
    <!--<div *ngIf="display_error" class="error">* {{error}}</div>-->
    <div class="statics">
      <div class="numbers">
        <div *ngIf="display_count" class="count2">{{wcs_percentage_change}}%</div>
        <div *ngIf="display_count" class="count2">{{wcs_count}}</div>
        </div>
        <div class="text">
        <div *ngIf="display_count" class="Percentage_text2">Percentage Change</div>
        <div *ngIf="display_count" class="count_text2">Clicks Count</div>
        </div>
    </div>
    <div *ngIf="displayweekchart" class="lg"><canvas class="line-graph" baseChart width="600" height="450" [type]="lineChartType" [options]="lineChartOptions" [data]="lineChartDataweek"></canvas></div>
    <div *ngIf="displaymonthchart" class="lg"><canvas class="line-graph" baseChart width="600" height="450" [type]="lineChartType" [options]="lineChartOptions" [data]="lineChartDatamonth"></canvas></div>
</div>
</div>
<span class="clicks_rights">2022 © All Rights Reserved. Terms of Service</span>
