.lg{
    width: 500px;
    height: 500px;
    padding: 0px 15px 3px 0px;
    margin-top: 11px;
    width: 927.06px;
    margin-left: 50px;
    height: 754px;
    background: #FFFFFF;
    box-shadow: 0px 8px 64px rgb(15 34 67 / 6%), 0px 0px 1px rgb(15 34 67 / 8%);
    border-radius: 24px;
}
.count_text2{
    width: 177px;
    height: 20px;   
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(13, 13, 18, 0.46);
    flex: none;
    order: 1;
    flex-grow: 0;
}
.numbers{
    display: flex;
}
.Percentage_text2{
    width: 177px;
    height: 20px;   
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(13, 13, 18, 0.46);
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text{
    display: flex;
}
.clicks_rights{
    width: 279px;
    height: 15px;
    margin-left: 671px;
    margin-top: 1200px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #3A3A49;
}
.box2{
    position: absolute;
    width: 1038px;
    height: 991px;
    left: 350px;
    top: 92px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.13);
    border-radius: 14px;
}
.statics{
    position: absolute;
    left: 110px;
    top: 250px;
}
.count2{
width: 177px;
height: 26px;
font-family: 'Overpass';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 26px;
color: rgba(0, 0, 0, 0.87);
flex: none;
order: 0;
flex-grow: 0;
}
canvas{
    padding-top: 90px;
    padding-left: 20px;
}