h2{
    position: absolute;
    width: 89px;
    height: 35px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    margin-left: 265px;
    color: #3A3A49;
    margin-top: 90px;
}
button{
    position: absolute;
    width: 95px;
    height: 34px;
    border: none;
    left: 872px;
    top: 35px;
    background: linear-gradient(90deg, #613DC1 0%, #858AE3 100%);
    border-radius: 5px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.email_input{
box-sizing: border-box;
width: 283px;
height: 35px;
margin-top: 10px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 20px;
color: rgba(0, 0, 0, 0.51);
}
.email{
    width: 41px;
    height: 20px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.about_input{
width: 263px;
height: 30px;
left: 448px;
top: 240px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
text-transform: capitalize;
border: none;
color: rgba(0, 0, 0, 0.51);
}
.about{
    width: 46px;
    height: 20px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.occupation_input{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.3);
}
.profile_box{
    box-sizing: border-box;
    position: absolute;
    width: 1038px;
    height: 298px;
    left: 270px;
    top: 145px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 4px 18px rgb(0 0 0 / 13%);
    border-radius: 14px;
}
.name_input{
    border: none;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    color: #000000;
}
input{
    border:none;
}
.form_box{
    margin-top: 35px;
    margin-left: 200px;
}
.Avatar_icon{
    box-sizing: border-box;
    position: absolute;
    width: 138px;
    height: 138px;
    left: 45px;
    top: 30px;
}