<div class="navbar2">
    <img class="Hawkeye2_icon" src="../assets/images/Hawkeye2.png" alt="Hawkeye2_img">
    <ul style="display:flex">
        <li class="hand" [routerLink]="['/home']">Home</li>
        <li class="hand" [routerLink]="['/about-us']">About Us</li>
        <li class="hand" [routerLink]="['/privacy-policy']">Privacy Policy</li>
        <li [routerLink]="['/contact-us']" class="hand cs">Contact Us</li>
        <li class="hand" [routerLink]="['/login']">Login</li>
    </ul>
</div>