.Percentage_text2{
    width: 177px;
    height: 20px;   
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(13, 13, 18, 0.46);
    flex: none;
    order: 1;
    flex-grow: 0;
}
.count_text2{
    width: 177px;
    height: 20px;   
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(13, 13, 18, 0.46);
    flex: none;
    order: 1;
    flex-grow: 0;
}
.count2{
    width: 177px;
    height: 26px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.87);
    flex: none;
    order: 0;
    flex-grow: 0;
}