name: CI
on: 
  push:
    branches:
      - "main"

jobs:
  Git_Pull:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: /var/www/html/hawkeye_frontend/
    steps:
      - name: add directory into safe 
        run: git config --global --add safe.directory /var/www/html/hawkeye_frontend 
      - name: Taking Git Pull
        run: git pull

  Build:
    needs: Git_Pull
    runs-on: self-hosted
    defaults:
      run:
        working-directory: /var/www/html/hawkeye_frontend/frontend/insights
    steps:
      - name: Install dependencies
        run: npm install -f
      - name: Run Build
        run: NODE_OPTIONS="--max-old-space-size=2048" npm run build
